<?xml version="1.0" encoding="UTF-8" standalone="no"?><?pde version="3.8"?><target name="ptp-photon" sequenceNumber="21">
<locations>
	<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
		<unit id="com.google.gson" version="2.7.0.v20170129-0911"/>
		<repository location="https://download.eclipse.org/tools/orbit/downloads/drops/R20190827152740/repository"/>
	</location>
	<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
		<unit id="org.eclipse.license.feature.group" version="0.0.0"/>
		<repository location="http://download.eclipse.org/cbi/updates/license/"/>
	</location>
	<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
		<unit id="org.eclipse.remote.feature.group" version="0.0.0"/>
		<repository location="https://download.eclipse.org/tools/ptp/builds/remote/3.0/2020-03-M2/"/>
	</location>
	<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
		<unit id="org.eclipse.sdk.ide" version="0.0.0"/>
		<repository location="http://download.eclipse.org/eclipse/updates/4.15milestones/"/>
	</location>
	<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
		<unit id="org.eclipse.tm.terminal.connector.remote.feature.feature.group" version="0.0.0"/>
		<unit id="org.eclipse.tm.terminal.control.sdk.feature.feature.group" version="0.0.0"/>
		<unit id="org.eclipse.tm.terminal.sdk.feature.feature.group" version="0.0.0"/>
		<unit id="org.eclipse.tm.terminal.view.sdk.feature.feature.group" version="0.0.0"/>
		<repository location="https://download.eclipse.org/tm/updates/4.5.103-SNAPSHOT/repository/"/>
	</location>
	<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
		<unit id="org.eclipse.photran.feature.group" version="0.0.0"/>
		<unit id="org.eclipse.photran.intel.feature.group" version="0.0.0"/>
		<unit id="org.eclipse.photran.xlf.feature.group" version="0.0.0"/>
		<repository location="http://download.eclipse.org/tools/ptp/builds/hudson/ptp-nightly-photran/"/>
	</location>
	<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
		<unit id="org.eclipse.cdt.sdk.feature.group" version="0.0.0"/>
		<repository location="https://download.eclipse.org/tools/cdt/builds/9.11/cdt-9.11.0-2020-03-rc2/"/>
	</location>
	<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
		<unit id="org.eclipse.egit.feature.group" version="0.0.0"/>
		<unit id="org.eclipse.jgit.feature.group" version="0.0.0"/>
		<repository location="https://repo.eclipse.org/content/unzip/releases.unzip/org/eclipse/egit/org.eclipse.egit.repository/5.7.0.202003110725-r/org.eclipse.egit.repository-5.7.0.202003110725-r.zip-unzip/"/>
	</location>
</locations>
</target>