<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="ptp-photon" sequenceNumber="19">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.launchbar.feature.group" version="0.0.0"/>
<repository location="http://download.eclipse.org/tools/cdt/launchbar/milestones/oxygen.2"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="com.google.gson" version="0.0.0"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20170818183741/repository/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.license.feature.group" version="0.0.0"/>
<repository location="http://download.eclipse.org/cbi/updates/license/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.egit.feature.group" version="0.0.0"/>
<unit id="org.eclipse.jgit.feature.group" version="0.0.0"/>
<repository location="http://download.eclipse.org/egit/updates-nightly/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.remote.feature.group" version="0.0.0"/>
<repository location="http://download.eclipse.org/tools/ptp/builds/remote/oxygen/milestones/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.sdk.ide" version="0.0.0"/>
<repository location="http://download.eclipse.org/eclipse/updates/4.8milestones/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.tm.terminal.connector.remote.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.tm.terminal.control.sdk.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.tm.terminal.sdk.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.tm.terminal.view.sdk.feature.feature.group" version="0.0.0"/>
<repository location="http://download.eclipse.org/tm/terminal/updates/4.4milestones/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.photran.feature.group" version="0.0.0"/>
<unit id="org.eclipse.photran.intel.feature.group" version="0.0.0"/>
<unit id="org.eclipse.photran.xlf.feature.group" version="0.0.0"/>
<repository location="http://download.eclipse.org/tools/ptp/builds/hudson/ptp-nightly-photran/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.cdt.core.parser.upc.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.cdt.sdk.feature.group" version="0.0.0"/>
<repository location="http://download.eclipse.org/tools/cdt/builds/9.5/cdt-9.5.0-photon-m6"/>
</location>
</locations>
</target>
